@model  IEnumerable<OnlineShopping.Models.ProductCategory_Table>
@{
    ViewBag.Title = "Product_cat";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
    WebGrid grid = new WebGrid(Model);
}

<h2></h2>

<div style="margin-left:200px;">

    @grid.GetHtml(columns: new[]{

     grid.Column(columnName: "ProductCatName", header: " ",format:@<div class="jumbotron">  @item.GetSelectLink(item.ProductCatName.ToString())</div>)
    }
    )
    @if (grid.HasSelection)
    {
        var base_cat = (OnlineShopping.Models.ProductCategory_Table)grid.Rows[grid.SelectedIndex].Value;
        Session["prod_cat"] = @base_cat.ProductCatId;
        Response.Redirect("Product_page");
    }
</div>
